
@{
    ViewBag.Title = "O stronie";
}

<h2>TOPÓR, TOPOOOOOOORY...GHOOOOST AAAAAAAAAAAAAA</h2><hr />

<div class="responsive-img" style="margin-top:40px; text-align: center">
    <img src="https://samequizy.pl/wp-content/uploads/2018/02/filing_images_7ac68ecd4989.jpg" />
</div>

<p style="text-align:center">Nie wiem czego się spodziewałeś zaglądając tu xD</p>
<h1 style="text-align:center">JD ORKA</h1>
